{% extends 'base.html.twig' %}

{% block title %} Fiche de {{ character.name }} {% endblock %}

{% block main %}

<h2> Détails </h2>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Album</th>
    </thead>

    <tbody>
        <td>{{ character.id }}</td>
        <td>{{ character.name }}</td>
        <td>{{ character.gender }}</td>
        <td><a href="{{ path('album_show', {'id': character.album.id }) }}">{{ character.album }}</td>
    </tbody>

</table>

<p><a href="{{ path('character_index') }}"> Back </a></p>

{% endblock %}