{% extends 'base.html.twig' %}

{% block title %}Manga index{% endblock %}

{% block main %}
    <h1>Manga index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td>{{ manga.id }}</td>
                <td>{{ manga.label }}</td>
                <td>
                    <a href="{{ path('app_manga_show', {'id': manga.id}) }}">show</a>
                    <a href="{{ path('app_manga_edit', {'id': manga.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_manga_new') }}">Create new</a>
{% endblock %}
