{% extends 'base.html.twig' %}

{% block title %} Album n°{{ album.id }} {% endblock %}

{% block main %}

<h1>Album</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ album.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ album.title }}</td>
        </tr>
        <tr>
            <th>Characters</th>
            <td>
                {% for character in album.characters %}
                <li><a href="{{ path('character_show', {'id' : character.id}) }}">{{ character }}</a></li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Creator</th>
            <td>{{ album.membre }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_membre_show' , {'id': album.membre.id}) }}">back to {{album.membre.name}}</a>

<a href="{{ path('app_album_edit', {'id': album.id}) }}">Edit</a>

<a href="{{ path('app_character_new', {'id': album.id}) }}">Add new Character</a>

{{ include('album/_delete_form.html.twig') }}

{% endblock %}