{% extends 'base.html.twig' %}

{% block title %} Album n°{{ album.id }} {% endblock %}

{% block main %}

<h2> {{ album.title }} </h2>

{% for character in album.characters %}
<ul>
    <li><a href="{{ path('character_show', { 'id' : character.id })}}">{{ character.name }}</li>
</ul>
{% endfor %}

</table>

<p><a href="{{ path('album_index') }}"> Back </a></p>

{% endblock %}